<form id="form" action="http://127.0.0.1:5000/write_comment" method="POST">
  <label for="POST-name">Name:</label>
  <input id="POST-name" type="text" name="name">
  <br/>
  <label for="POST-email">Email:</label>
  <input id="POST-email" type="text" name="email">
  <br/>
  <label for="POST-text">Comment:</label>
  <textarea id="POST-name" name="text" rows="5"></textarea>
  <br/>
  <input type="submit" value="Save">
  <div id="root">
  
  </div>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="script.js"></script>