.wrapper {
  margin-left:200px;
  margin-right:200px;

}

.logo-image {
  margin-top: 25px;
  max-height: 50px;
  width:auto;
}

.contact-image {
  max-height: 150px;
  display: block;
  margin-left:auto;
  margin-right:auto;
}

textarea {
  resize: none;
  height: auto;
  max-height: 200px;
}

button {
  margin-top: 30px;
  margin-bottom:30px;
  width: 100%;
}

.bg-color {
  background: #2d3136;
}

.footer-logo-image {
  margin-top: 25px;
  max-height: 50px;
  width:auto;
}

.footer-social-image {
  margin-top: 25px;
  margin-left:20px;
  max-height: 50px;
  width:auto;
  float:right;
}
